body,
html {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Screen Container */
.screen-container {
    height: 100px;
    width: 400px;
    border: 1px solid black;
    border-bottom: 0px;
    margin-top: auto;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

}

.screen {
    max-height: 50px;
    width: 380px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: white;
    padding-right: 20px;
}

/* Containers for Button Section */
.buttons-div {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.bottom-container {
    border: 1px solid black;
    height: 384px;
    width: 400px;
    margin-top: auto;
    display: flex;
    padding-top: 1px;
    border-top: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.number-container,
.operations-container,
.equals-container,
.clear-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.clear-container {
    height: 50px;
    width: 400px;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    border-bottom: 0px;
}

.number-container {
    width: 298px;
    height: 300px;
    margin-left: 1px;
}

.operations-container {
    width: 100px;
    height: 388px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/* General button styles */
.clear,
.delete {
    width: 198px;
    height: 49px;
}

.number,
.operation {
    border: 1px solid black;
    width: 98px;
    height: 98px;
}

.equals-container .number, .equals, .addition {
    max-height: 80px;
}
.addition {
    border-bottom-right-radius: 6px;
}
.equals-container .number {
    margin-left: 1px;
    border-bottom-left-radius: 6px;
}

/* Operation Colors and Color Hover Overs */
.equals {
    flex: 2;
    padding: 0;
    max-width: 197px;
    background-color: #817F82;
    border: 1px solid black;
}

.equals:hover {
    background-color: #706D72;
}

.division {
    background-color: #AE8CA3;
}

.division:hover {
    background-color: #A28599;
}

.multiplication {
    background-color: #A2ABB5;
}

.multiplication:hover {
    background-color: #8D96A0;
}

.subtraction {
    background-color: #6DD6DA;
}

.subtraction:hover {
    background-color: #5EBBBE;
}

.addition {
    background-color: #95D9DA;
}

.addition:hover {
    background-color: #7ABBBC;
}

footer {
    margin-top: auto;
    padding: 50px;
}